In [1]:
from matpowercaseframes import CaseFrames

In [2]:
CASE_NAME = "../data/case9_load.m"
cf = CaseFrames(CASE_NAME, allow_any_keys=True)
cf.load

   0  1  2    3   4  5
0  1  5  1   90  30  1
1  2  7  1  100  35  1
2  3  9  1  125  50  1

In [3]:
CASE_NAME = "../data/case9_load.m"
columns_temlplates = {
    "load": ["LD_ID", "LD_BUS", "LD_STAUTS", "LD_PD", "LD_QD", "LD_FACT"]
}
cf = CaseFrames(CASE_NAME, allow_any_keys=True, columns_templates=columns_temlplates)
cf.load

   LD_ID  LD_BUS  LD_STAUTS  LD_PD  LD_QD  LD_FACT
0      1       5          1     90     30        1
1      2       7          1    100     35        1
2      3       9          1    125     50        1