In [1]:
from matpower import path_matpower

from matpowercaseframes import CaseFrames

In [2]:
CASE_NAME = f"{path_matpower}/lib/t/t_case9_dcline.m"
cf = CaseFrames(CASE_NAME)

In [3]:
cf.dcline

,F_BUS,T_BUS,BR_STATUS,PF,PT,QF,QT,VF,VT,PMIN,PMAX,QMINF,QMAXF,QMINT,QMAXT,LOSS0,LOSS1
0,30,4,1,10,8.90,0,0,1.01,1.00,1,10,-10,10,-10,10,1,0.01
1,7,9,1,2,1.96,0,0,1.00,1.00,2,10,0,0,0,0,0,0.00
2,5,8,0,0,0.00,0,0,1.00,1.00,1,10,-10,10,-10,10,0,0.00
3,5,9,1,10,9.50,0,0,1.00,0.98,0,10,-10,10,-10,10,0,0.05

In [4]:
cf.dclinecost

,MODEL,STARTUP,SHUTDOWN,NCOST,COST_9,COST_8,COST_7,COST_6,COST_5,COST_4,COST_3,COST_2,COST_1,COST_0
0,2,0,0,2,0.0,0,0,0,0,0,0,0,0,0
1,2,0,0,2,0.0,0,0,0,0,0,0,0,0,0
2,2,0,0,2,0.0,0,0,0,0,0,0,0,0,0
3,2,0,0,2,7.3,0,0,0,0,0,0,0,0,0