In [1]:
from matpowercaseframes import CaseFrames

In [2]:
CASE_NAME = "../data/case9_load.m"
cf = CaseFrames(CASE_NAME, allow_any_keys=True)
cf.load

     0   1  2          3          4  5
0    1   1  1  74.150480  34.896181  1
1    2   8  1  28.081420  15.758833  1
2    3   8  1   2.377862   0.172607  1
3    4  10  1  17.485805  11.688645  1
4    5  11  1  23.246418  11.789581  1
5    6   7  1  17.744576   0.808382  1
6    7   3  1  16.111230   9.895656  1
7    8   5  1   2.892705   1.954340  1
8    9   6  1  26.623944  21.383458  1
9   10   9  1   9.696765   6.885234  1
10  11  12  1  16.159454  13.865387  1
11  12  13  1  54.008581  40.773567  1
12  13  13  1  13.839229  10.447872  1
13  14   3  1   5.831158   2.685637  1
14  15   3  1   8.277018  11.404585  1
15  16  27  1  18.487879  12.280164  1
16  17   2  1   0.010161   0.191424  1
17  18  14  1  23.393146  25.758367  1
18  19  16  1  15.395352   9.293864  1
19  20  27  1  23.810698   9.011489  1
20  21  16  1   3.466689   1.079331  1
21  22  14  1   0.000000   0.000000  1
22  23  16  1   0.000000   0.000000  1

In [3]:
CASE_NAME = "../data/case9_load.m"
columns_temlplates = {
    "load": ["LD_ID", "LD_BUS", "LD_STAUTS", "LD_PD", "LD_QD", "LD_FACT"]
}
cf = CaseFrames(CASE_NAME, allow_any_keys=True, columns_templates=columns_temlplates)
cf.load

    LD_ID  LD_BUS  LD_STAUTS      LD_PD      LD_QD  LD_FACT
0       1       1          1  74.150480  34.896181        1
1       2       8          1  28.081420  15.758833        1
2       3       8          1   2.377862   0.172607        1
3       4      10          1  17.485805  11.688645        1
4       5      11          1  23.246418  11.789581        1
5       6       7          1  17.744576   0.808382        1
6       7       3          1  16.111230   9.895656        1
7       8       5          1   2.892705   1.954340        1
8       9       6          1  26.623944  21.383458        1
9      10       9          1   9.696765   6.885234        1
10     11      12          1  16.159454  13.865387        1
11     12      13          1  54.008581  40.773567        1
12     13      13          1  13.839229  10.447872        1
13     14       3          1   5.831158   2.685637        1
14     15       3          1   8.277018  11.404585        1
15     16      27          1  18.487879  12.280164        1
16     17       2          1   0.010161   0.191424        1
17     18      14          1  23.393146  25.758367        1
18     19      16          1  15.395352   9.293864        1
19     20      27          1  23.810698   9.011489        1
20     21      16          1   3.466689   1.079331        1
21     22      14          1   0.000000   0.000000        1
22     23      16          1   0.000000   0.000000        1

In [4]:
cf.attributes

['version', 'baseMVA', 'bus', 'load', 'gen', 'branch', 'gencost']